* { 
    padding: 0;
    margin: 0;
    
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

nav ul {
    
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

nav ul li {
    padding: 20px;
    text-size-adjust: 50px;
}

h3 { 
    background-color: rgb(120, 120, 120);
    color: aliceblue;
    align-items: center;
    padding: 10px;
}

table { 
    margin: 10px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    border-collapse: separate;
    border-spacing: 25px 5px;

}


div form {
    width: 100vw;
    height: 0px;
    padding: 25px;

}