<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Información del Plan<br><br>

    <form method="post" class="form-signin" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <input type="file" name="myfile2">
        <button type="submit">Subir Archivo</button> 
    </form>
    <br>
    <br>
    Cell ID: {{cid}}</br></br>

    Direcciones IP configuradas:</br>
    <table id="datatablesSimple" class="dataTable-table">
        <thead>
            <tr><th data-sortable="" style="width: 19.4175%;"><a href="#" class="dataTable-sorter">Direcciones IP</a></th>
                <th data-sortable="" style="width: 27.6699%;"><a href="#" class="dataTable-sorter">SCF 1</a></th>
                <th data-sortable="" style="width: 15.8576%;"><a href="#" class="dataTable-sorter">SCF 2</a></th>
        </thead>
        
        <tbody>
            <tr><td>Control Plane LTE</td><td>{{ip.CP_LTE}}</td><td>{{ip2.CP_LTE}}</td></tr>
            <tr><td>User Plane LTE</td><td>{{ip.UP_LTE}}</td><td>{{ip2.UP_LTE}}</td></tr>
            <tr><td>Control Plane UMTS</td><td>{{ip.CP_UMTS}}</td><td>{{ip2.CP_UMTS}}</td></tr>
            <tr><td>User Plane UMTS</td><td>{{ip.CP_UMTS}}</td><td>{{ip2.CP_UMTS}}</td></tr>
            <tr><td>CP/UP GSM</td><td>{{ip.CP_UP_GSM}}</td><td>{{ip2.CP_UP_GSM}}</td></tr>
            <tr><td>IP de gestion</td><td>{{ip.GESTION}}</td><td>{{ip2.GESTION}}</td></tr>
            <tr><td>Sync Plane ToP</td><td>{{ip.SYNC_TOP}}</td><td>{{ip2.SYNC_TOP}}</td></tr>
    </table>
    <br>

    PUERTOS:<br>
    {{port}}



<!--
</br>
    Control Plane LTE: {{ip.CP_LTE}}</br> 
    User Plane LTE: {{ip.UP_LTE}}</br> 
    Control Plane UMTS: {{ip.CP_UMTS}}</br> 
    User Plane UMTS: {{ip.CP_UMTS}}</br> 
    CP/UP GSM: {{ip.CP_UP_GSM}}</br> 
    IP de gestion: {{ip.GESTION}}</br> 
    Sync Plane ToP: {{ip.SYNC_TOP}}</br> 
</br>
-->
</body>

</html>
